# Examining traffic violations

In [43]:
import pandas as pd

In [44]:
# Count the unique values in the violation column, to see what violations are being committed by all drivers.

In [45]:
ri = pd.read_csv('police.csv')

In [46]:
ri.head()

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
2,RI-2005-00003,RI,2005-01-04,11:30,Zone X1,NaN,NaN,NaN,0,NaN,...,False,NaN,NaN,False,NaN,NaN,NaN,NaN,False,Zone X1
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4

In [47]:
# Count the unique values in the violation column, to see what violations are being committed by all drivers.

In [48]:
print(ri.violation.value_counts())

Speeding               268744
Moving violation        90234
Equipment               61252
Other                   24221
Registration/plates     19830
Seat belt               16327
Name: violation, dtype: int64

In [49]:
# Express the violation counts as proportions of the total.

In [50]:
print(ri.violation.value_counts(normalize=True))

Speeding               0.559175
Moving violation       0.187750
Equipment              0.127447
Other                  0.050397
Registration/plates    0.041260
Seat belt              0.033972
Name: violation, dtype: float64

# Comparing violations by gender

In [51]:
# Create a DataFrame, female, that only contains rows in which driver_gender is 'F'.

In [52]:
female = ri[ri.driver_gender == 'F']

In [53]:
female

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
15,RI-2005-00016,RI,2005-02-24,01:20,Zone X3,NaN,NaN,NaN,200,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
18,RI-2005-00019,RI,2005-03-14,10:00,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
25,RI-2005-00026,RI,2005-03-29,23:20,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
34,RI-2005-00035,RI,2005-06-06,13:20,Zone X4,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
36,RI-2005-00037,RI,2005-06-18,16:30,Zone X4,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Arrest Driver,True,30+ Min,False,False,Zone X4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509656,RI-2015-47051,RI,2015-12-31,21:59,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
509659,RI-2015-47054,RI,2015-12-31,22:09,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone K3
509660,RI-2015-47055,RI,2015-12-31,22:10,Zone X4,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone X4
509661,RI-2015-47056,RI,2015-12-31,22:10,Zone X4,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Arrest Driver,True,0-15 Min,False,False,Zone X4
509665,RI-2015-47060,RI,2015-12-31,22:39,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,16-30 Min,True,False,Zone K3

In [54]:
# Create a DataFrame, male, that only contains rows in which driver_gender is 'M'.

In [55]:
male = ri[ri.driver_gender == 'M']

In [56]:
male

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
3,RI-2005-00004,RI,2005-01-04,12:55,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
4,RI-2005-00005,RI,2005-01-06,01:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
5,RI-2005-00006,RI,2005-01-12,08:05,Zone X1,NaN,NaN,NaN,0,M,...,False,NaN,NaN,False,Citation,False,30+ Min,True,False,Zone X1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509666,RI-2015-47061,RI,2015-12-31,22:46,Zone X1,NaN,NaN,NaN,0,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
509667,RI-2015-47062,RI,2015-12-31,22:47,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
509668,RI-2015-47063,RI,2015-12-31,23:08,Zone X3,NaN,NaN,NaN,200,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X3
509669,RI-2015-47064,RI,2015-12-31,23:44,Zone K2,NaN,NaN,NaN,900,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
509670,RI-2015-47065,RI,2015-12-31,23:48,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [57]:
# Count the violations committed by female drivers and express them as proportions.

In [58]:
print(female.violation.value_counts(normalize=True))

Speeding               0.657308
Moving violation       0.136581
Equipment              0.107055
Registration/plates    0.043077
Other                  0.028908
Seat belt              0.027071
Name: violation, dtype: float64

In [59]:
# Count the violations committed by male drivers and express them as proportions.

In [60]:
print(male.violation.value_counts(normalize=True))

Speeding               0.522364
Moving violation       0.206948
Equipment              0.135102
Other                  0.058450
Registration/plates    0.040581
Seat belt              0.036555
Name: violation, dtype: float64

In [61]:
# Comparing speeding outcomes by gender

In [62]:
# Create a DataFrame, female_and_speeding, that only includes female drivers who were stopped for speeding.

In [63]:
female_and_speeding = ri[(ri.driver_gender == 'F') & (ri.violation  == 'Speeding')]

In [64]:
female_and_speeding

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
15,RI-2005-00016,RI,2005-02-24,01:20,Zone X3,NaN,NaN,NaN,200,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X3
18,RI-2005-00019,RI,2005-03-14,10:00,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3
25,RI-2005-00026,RI,2005-03-29,23:20,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
34,RI-2005-00035,RI,2005-06-06,13:20,Zone X4,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X4
37,RI-2005-00038,RI,2005-07-06,11:22,Zone X1,NaN,NaN,NaN,0,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone X1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509633,RI-2015-47028,RI,2015-12-31,19:44,Zone K2,NaN,NaN,NaN,500,F,...,False,NaN,NaN,False,Warning,False,0-15 Min,False,False,Zone K2
509636,RI-2015-47031,RI,2015-12-31,20:05,Zone K2,NaN,NaN,NaN,900,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
509646,RI-2015-47041,RI,2015-12-31,20:42,Zone K2,NaN,NaN,NaN,900,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K2
509655,RI-2015-47050,RI,2015-12-31,21:47,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
509656,RI-2015-47051,RI,2015-12-31,21:59,Zone K3,NaN,NaN,NaN,300,F,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K3

In [65]:
# Create a DataFrame, male_and_speeding, that only includes male drivers who were stopped for speeding.

In [66]:
male_and_speeding = ri[(ri.driver_gender == 'M') & (ri.violation  == 'Speeding')]

In [67]:
male_and_speeding

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_conducted,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district
0,RI-2005-00001,RI,2005-01-02,01:55,Zone K1,NaN,NaN,NaN,600,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K1
1,RI-2005-00002,RI,2005-01-02,20:30,Zone X4,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,16-30 Min,False,False,Zone X4
6,RI-2005-00007,RI,2005-01-18,08:15,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
8,RI-2005-00009,RI,2005-01-23,23:15,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
9,RI-2005-00010,RI,2005-01-24,20:32,Zone K1,NaN,NaN,NaN,600,M,...,True,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509649,RI-2015-47044,RI,2015-12-31,20:50,Zone K2,NaN,NaN,NaN,500,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2
509654,RI-2015-47049,RI,2015-12-31,21:42,Zone X1,NaN,NaN,NaN,0,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
509663,RI-2015-47058,RI,2015-12-31,22:26,Zone K3,NaN,NaN,NaN,300,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone K3
509666,RI-2015-47061,RI,2015-12-31,22:46,Zone X1,NaN,NaN,NaN,0,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,True,False,Zone X1
509669,RI-2015-47064,RI,2015-12-31,23:44,Zone K2,NaN,NaN,NaN,900,M,...,False,NaN,NaN,False,Citation,False,0-15 Min,False,False,Zone K2

In [68]:
# Count the stop outcomes for the female drivers and express them as proportions.

In [69]:
print(female_and_speeding.stop_outcome.value_counts(normalize=True))

Citation            0.953247
Warning             0.039003
Arrest Driver       0.005290
Arrest Passenger    0.001033
N/D                 0.000905
No Action           0.000522
Name: stop_outcome, dtype: float64

In [70]:
# Count the stop outcomes for the male drivers and express them as proportions.

In [71]:
print(male_and_speeding.stop_outcome.value_counts(normalize=True))

Citation            0.944636
Warning             0.036086
Arrest Driver       0.015767
Arrest Passenger    0.001265
N/D                 0.001183
No Action           0.001063
Name: stop_outcome, dtype: float64

# Calculating the search rate

In [72]:
# Check the data type of search_conducted to confirm that it's a Boolean Series.
# Calculate the search rate by counting the Series values and expressing them as proportions.
# Calculate the search rate by taking the mean of the Series. (It should match the proportion of True values calculated above.)

In [73]:
print(ri.search_conducted.dtype)

object

In [74]:
print(ri.search_conducted.value_counts(normalize=True))

False    0.96515
True     0.03485
Name: search_conducted, dtype: float64

In [75]:
print(ri.search_conducted.mean())

0.034849932603581525

# Comparing search rates by gender

In [76]:
# Filter the DataFrame to only include female drivers, 
# and then calculate the search rate by taking the mean of search_conducted.

In [77]:
print(ri[ri.driver_gender=='F'].search_conducted.mean())

0.018751239152648355

# Filter the DataFrame to only include male drivers, and then repeat the search rate calculation.

In [83]:
print(ri[ri.driver_gender=='M'].search_conducted.mean())

0.04379217389811301

# Group by driver gender to calculate the search rate for both groups simultaneously. (It should match the previous results.)

# Adding a second factor to the analysis

In [81]:
# Use a .groupby() to calculate the search rate for each combination of gender and violation. 
# Are males and females searched at about the same rate for each violation?

# Reverse the ordering to group by violation before gender. The results may be easier to compare when presented this way.

In [93]:
print(ri.groupby(['violation', 'driver_gender']).search_conducted.mean())

DataError: No numeric types to aggregate

# Counting protective frisks

In [ ]:
# Count the search_type values to see how many times "Protective Frisk" was the only search type.
# Create a new column, frisk, that is True if search_type contains the string "Protective Frisk" and False otherwise.
# Check the data type of frisk to confirm that it's a Boolean Series.
# Take the sum of frisk to count the total number of frisks.

In [85]:
print(ri.search_type.value_counts())

Incident to Arrest                                          6998
Probable Cause                                              4989
Reasonable Suspicion                                        1141
Inventory                                                   1101
Protective Frisk                                             879
Incident to Arrest,Inventory                                 649
Incident to Arrest,Probable Cause                            552
Probable Cause,Reasonable Suspicion                          334
Probable Cause,Protective Frisk                              221
Incident to Arrest,Protective Frisk                          158
Incident to Arrest,Inventory,Probable Cause                  151
Inventory,Probable Cause                                     132
Protective Frisk,Reasonable Suspicion                         83
Incident to Arrest,Inventory,Protective Frisk                 77
Incident to Arrest,Probable Cause,Protective Frisk            74
Inventory,Protective Frisk                                    52
Incident to Arrest,Reasonable Suspicion                       49
Probable Cause,Protective Frisk,Reasonable Suspicion          31
Incident to Arrest,Probable Cause,Reasonable Suspicion        31
Inventory,Reasonable Suspicion                                17
Inventory,Probable Cause,Protective Frisk                     14
Incident to Arrest,Inventory,Reasonable Suspicion             12
Inventory,Probable Cause,Reasonable Suspicion                  8
Incident to Arrest,Protective Frisk,Reasonable Suspicion       8
Inventory,Protective Frisk,Reasonable Suspicion                1
Name: search_type, dtype: int64

In [86]:
ri['frisk'] = ri.search_type.str.contains('Protective Frisk', na=False)

In [87]:
ri['frisk']

0         False
1         False
2         False
3         False
4         False
          ...
509676    False
509677    False
509678    False
509679    False
509680    False
Name: frisk, Length: 509681, dtype: bool

In [89]:
print(ri.frisk.dtype)

bool

In [88]:
print(ri.frisk.sum())

1598

# Comparing frisk rates by gender

In [ ]:
# Create a DataFrame, searched, that only contains rows in which search_conducted is True.

In [90]:
searched = ri[ri.search_conducted==True]

In [91]:
searched

,id,state,stop_date,stop_time,location_raw,county_name,county_fips,fine_grained_location,police_department,driver_gender,...,search_type_raw,search_type,contraband_found,stop_outcome,is_arrested,stop_duration,out_of_state,drugs_related_stop,district,frisk
9,RI-2005-00010,RI,2005-01-24,20:32,Zone K1,NaN,NaN,NaN,600,M,...,Probable Cause,Probable Cause,True,Citation,False,0-15 Min,True,True,Zone K1,False
10,RI-2005-00011,RI,2005-02-09,03:05,Zone X4,NaN,NaN,NaN,500,M,...,"Probable Cause,Terry Frisk","Probable Cause,Protective Frisk",False,Citation,False,0-15 Min,False,False,Zone X4,True
83,RI-2005-00084,RI,2005-08-28,01:00,Zone X1,NaN,NaN,NaN,0,M,...,"Incident to Arrest,Terry Frisk","Incident to Arrest,Protective Frisk",False,Arrest Driver,True,16-30 Min,True,False,Zone X1,True
93,RI-2005-00094,RI,2005-09-15,02:20,Zone X4,NaN,NaN,NaN,500,M,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone X4,False
114,RI-2005-00115,RI,2005-09-24,02:20,Zone K3,NaN,NaN,NaN,300,M,...,Incident to Arrest,Incident to Arrest,False,Arrest Driver,True,16-30 Min,False,False,Zone K3,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
509311,RI-2015-46706,RI,2015-12-28,11:05,Zone K3,NaN,NaN,NaN,300,F,...,Incident to Arrest,Incident to Arrest,True,Citation,False,16-30 Min,True,True,Zone K3,False
509475,RI-2015-46870,RI,2015-12-30,01:37,Zone X4,NaN,NaN,NaN,500,M,...,Terry Frisk,Protective Frisk,False,Citation,False,0-15 Min,False,False,Zone X4,True
509508,RI-2015-46903,RI,2015-12-30,08:51,Zone K3,NaN,NaN,NaN,300,F,...,"Probable Cause,Reasonable Suspicion","Probable Cause,Reasonable Suspicion",True,Citation,False,30+ Min,True,True,Zone K3,False
509539,RI-2015-46934,RI,2015-12-30,13:15,Zone X3,NaN,NaN,NaN,200,M,...,Incident to Arrest,Incident to Arrest,False,Arrest Passenger,True,16-30 Min,True,False,Zone X3,False
509555,RI-2015-46950,RI,2015-12-30,15:58,Zone K2,NaN,NaN,NaN,900,M,...,"Odor of Drugs/Alcohol,Probable Cause,Reasonabl...","Probable Cause,Reasonable Suspicion",False,Citation,False,30+ Min,True,False,Zone K2,False

In [ ]:
# Take the mean of the frisk column to find out what percentage of searches included a frisk.

In [94]:
print(searched.frisk.mean())

0.08996734601959239

In [ ]:
# Calculate the frisk rate for each gender using a .groupby().

In [92]:
print(searched.groupby('driver_gender').frisk.mean())

driver_gender
F    0.066694
M    0.093707
Name: frisk, dtype: float64